{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
        <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h1 class="display-5 text-uppercase mb-0">Register</h1>
            </div>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email,  {'attr': {'class': 'form-control'}}) }}
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}, {
                    label: 'Password',
                }) }}
                {{ form_row(registrationForm.agreeTerms, {class: 'form-control'}) }}

                <button type="submit" class="btn btn-lg btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>


{% endblock %}
